h1,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-size: 40px !important;
    margin-top: 50px;
    border-bottom: 2px solid black;
    display: inline-block;
}
.heading{
    text-align: center;
}
/* /////////about us is strat here--------- */
.about_us {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    .about_left {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex: 10;
    }


    #company-background {
        margin-bottom: 50px;

        .heading {
            text-align: left;
            margin-left: 20px;
            border-bottom: 1px solid black;
            display: inline-block;
            margin-bottom: 50px;

            h1 {
                padding: 0;
            }
        }

        .content {
            display: flex;
            width: 90%;
            margin: auto;
            gap: 20px;
            align-items: justify;
            flex-wrap: wrap;

            img {
                width: 50%;
                height: auto;
            }

            p {
                text-align: justify;
            }
        }
    }



    #our-team {
        h2 {
            border-bottom: 2px solid rgb(0, 0, 0);
            display: inline-block;
            margin-bottom: 20px;
        }

        display: flex;
        flex-direction: column;

        .member-info {
            text-align: justify;

        }

        .team-member {
            img {
                width: 300px;
                height: auto;
            }

        }

    }

    .about_right {
        flex: 2;
    }

}


/* //////serveces page start------------ */
.services-container {
    .heading {
        text-align: center;
        margin-bottom: 50px;

        h1 {
            border-bottom: 1px solid black;
            display: inline-block;
        }
    }

    .services {

        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        .services-item {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;

            a {
                color: black;
            }

            .service-content {
                display: flex;
                gap: 20px;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: justify;

                img {
                    width: 50% !important;

                }
            }
        }
    }
}

/* Faq start here----------- */
.faq {
    .heading {
        text-align: center;
        margin-top: 50px;

        h1 {
            border-bottom: 2px solid black;
            display: inline;
        }
    }

    .accordionWrapper {
        padding: 30px;
        background: #fff;
        float: left;
        width: 100%;
        box-sizing: border-box;
        margin: 0;

    }

    .accordionItem {
        float: left;
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-family: 'Open-sans', Arial, sans-serif;
    }

    .accordionItemHeading {
        cursor: pointer;
        margin: 0px 0px 10px 0px;
        padding: 10px;
        background: #669bbc;
        color: #fff;
        width: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        box-sizing: border-box;
    }

    .close .accordionItemContent {
        height: 0px;
        transition: height 1s ease-out;
        -webkit-transform: scaleY(0);
        -o-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        float: left;
        display: block;


    }

    .open .accordionItemContent {
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        width: 100%;
        margin: 0px 0px 10px 0px;
        display: block;
        -webkit-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top;
        -o-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;

        -webkit-transition: -webkit-transform 0.4s ease-out;
        -o-transition: -o-transform 0.4s ease;
        -ms-transition: -ms-transform 0.4s ease;
        transition: transform 0.4s ease;
        box-sizing: border-box;
    }

    .open .accordionItemHeading {
        margin: 0px;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        -webkit-border-bottom-right-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: rgb(110, 146, 170);
        color: #ffffff;
    }

}


/* Noman vai------- */
/* ####################### home page ############################### */

//-------------------header----------------------------------
nav {
    background-color: #669bbc;

    .nav-logo {
        width: 100px;
        height: auto;
    }

    .hideOnMobile {
        font-size: 20px;
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 100px;
}

nav a {
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

nav a:hover {
    background-color: #e3000000;
    color: black;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    .cross {
        font-size: 27px;
    }

    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(12px);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
    margin: 0;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 767px) {
    .faq .accordionItemHeading{
        font-size: 16px;
    }
    .main-phones .console-list .common-devices {
        flex-direction: column;
        text-align: center;
    }

    .sidebar {
        width: 100%;
        background-color: black;
    }

    nav li {
        height: 50px;
    }

    .nav-logo {
        width: 50px !important;
        height: auto;
    }

    nav a:hover {
        color: rgb(255, 255, 255);
        background-color: #669bbc;
    }

    .navbar {
        padding-left: 0;
    }
}

/* ----------------------------------feature---------------------------- */
.featured-item {
    .featured-text {
        .repair {
            background-color: #669bbc;
            color: white;
        }

        margin-top: 70px;
        margin-bottom: 85px;

        h4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: scale(0.9);
            animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
        }

        @keyframes scale {
            100% {
                transform: scale(1);
            }
        }

        span {
            display: inline-block;
            opacity: 0;
            filter: blur(4px);
        }

        span:nth-child(1) {
            animation: fade-in 0.6s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        span:nth-child(2) {
            animation: fade-in 0.6s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        span:nth-child(3) {
            animation: fade-in 0.6s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        span:nth-child(4) {
            animation: fade-in 0.6s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        span:nth-child(5) {
            animation: fade-in 0.6s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        span:nth-child(6) {
            animation: fade-in 0.6s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
        }

        @keyframes fade-in {
            100% {
                opacity: 1;
                filter: blur(0);
            }
        }

        .featured-text1 {
            font-size: 20px;
            font-weight: 500;
            color: rgb(0, 0, 0);
            margin-bottom: 10px;
        }

        .featured-text2 {
            font-size: 56px;
            font-weight: 700;
            color: rgb(0, 0, 0);
        }

        .featured-text3 {
            font-size: 56px;
            font-weight: 700;
            color: rgb(0, 0, 0);
            margin-bottom: 10px;
        }

        .featured-text4 {
            font-size: 30px;
            font-weight: 500;
            color: rgb(0, 0, 0);
        }

        .featured-text6 {
            a {
                border: none;
                padding: 20px;
                background: linear-gradient(to right,
                        #eb623d,
                        #e43157,
                        #cb0076,
                        #9b0095,
                        #3c1dc3);
                border-radius: 40px;
                text-decoration: none;
                color: white;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background: linear-gradient(to right,
                            #3c1dc3,
                            #9b0095,
                            #cb0076,
                            #e43157,
                            #eb623d);
                    background-position: right;
                }
            }

            font-size: 20px !important;
            font-weight: 500;
            color: rgb(150, 150, 150);
            margin-top: 30px;
        }
    }
}

/* ########## console ############################# */

.main-consoles {
    margin-bottom: 60px;

    .console-heading {
        text-align: center;
        margin-bottom: 60px;
        font-size: 40px;
    }


    .console-list {
        .common-devices {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .device-img {
                width: 200px;
                height: auto;
            }

            .consoles {
                a {
                    text-decoration: none;
                }

                .console-info {
                    padding: 20px;

                    h2 {
                        color: rgb(79, 179, 207);
                    }

                    p {
                        color: rgb(57, 57, 57);
                    }
                }
            }
        }
    }

}

@media (max-width: 467px) {

    .main-consoles .console-heading {
        text-align: center;
        margin-bottom: 40px;
        font-size: 30px;
    }

    .main-consoles .console-list .common-devices {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-consoles .console-list .common-devices .consoles .console-info {
        padding: 10px;
    }

    .guide {
        margin-bottom: 30px;
    }

}

/* #####phones######################### */
.main-phones {
    margin-bottom: 60px;

    .console-heading {
        text-align: center;
        margin-bottom: 60px;
        font-size: 40px;
    }


    .console-list {
        .common-devices {
            display: flex;
            justify-content: center;
            align-items: center;

            .device-img {
                width: 200px;
                height: auto;
            }

            .consoles {
                a {
                    text-decoration: none;
                }

                .console-info {
                    padding: 20px;

                    h2 {
                        color: rgb(79, 179, 207);
                    }

                    p {
                        color: rgb(57, 57, 57);
                    }
                }
            }
        }
    }

}

@media (max-width: 467px) {

    .main-consoles .console-heading {
        text-align: center;
        margin-bottom: 40px;
        font-size: 30px;
    }

    .main-consoles .console-list .common-devices {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-consoles .console-list .common-devices .consoles .console-info {
        padding: 10px;
    }

    .guide {
        margin-bottom: 30px;
    }
}

/* -----------------------------------------footer------------------------------------- */
.footer {
    background-color: #669bbc;
    padding-bottom: 10px;

    .footer-main {
        color: #fff;
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;


        .footer-contact {
            h2 {
                font-size: 30px;
            }

            display: flex;
            flex-direction: column;
            line-height: 5px;

            .form-info {
                text-align: start;
                padding-left: 100px;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .footer-inner1 {
            h2 {
                font-size: 30px;
            }

            p {
                padding-left: 20px;
                padding-right: 20px;
            }

            width: 40%;
        }

        .footer-inner2 {
            width: 30%;
        }

        .footer-inner3 {
            h2 {
                font-size: 30px;
            }

            width: 30%;
            font-size: 30px;

            a {
                margin-right: 10px;
                color: rgb(87, 87, 87);
            }
        }

        .footer-inner4 {
            .footer-list {
                list-style-type: none;
                display: flex;
                gap: 18px !important;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .footer-main2 {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 467px) {
    .main-guides .categories ul{
        padding-left: 0;
    }
    .services-container {

        /* services responsive */
        .services {
            .services-item {
                .service-content {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    text-align: justify;

                    img {
                        width: 100% !important;

                    }
                }
            }
        }
    }

    /* About us responsive */
    #company-background {
        .content {
            flex-wrap: wrap;

            img {
                width: 100% !important;
                height: auto;
            }
        }
    }

    #our-team {
        .team-member {
            img {
                width: 100% !important;
            }

            flex-wrap: wrap;
        }

    }



    .footer-main {
        display: flex;
        flex-direction: column;
    }

    .footer .footer-main .footer-inner1 h2 {
        font-size: 25px;
    }

    .footer .footer-main .footer-contact h2 {
        font-size: 25px;
    }

    .footer .footer-main .footer-inner3 h2 {
        font-size: 25px;
    }

    .footer .footer-main .footer-inner2 {
        width: 100%;
    }

    .footer .footer-main .footer-inner1 {
        width: 100%;
    }

    .footer .footer-main .footer-inner1 p {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer .footer-main .footer-contact {
        line-height: 15px;
    }

    .footer .footer-main .footer-contact .form-info {
        text-align: start;
        padding-left: 30px;
    }

    .footer .footer-main .footer-inner3 {
        width: 100%;
    }

    .footer .footer-main .footer-inner4 .footer-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-left: -20px;
    }

    .featured-item .featured-text .featured-text1 {
        font-size: 15px;
    }

    .featured-item .featured-text .featured-text2 {
        font-size: 30px;
    }

    .featured-item .featured-text .featured-text3 {
        font-size: 30px;
    }

    .featured-item .featured-text .featured-text4 {
        font-size: 30px;
        text-align: center;
    }
}



/* ####################### repair page ############################### */
.allrepair {
    h1 {
        text-align: center;
        margin-bottom: 70px;
        font-size: 40px;
    }

    .repair {
        img {
            width: 500px;
            height: auto;
        }

        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            /* Full width */
            padding: 8px;
            /* Padding for better text visibility */
            margin: 10px 0;
            /* Margin for spacing between inputs */
            display: inline-block;
            /* Ensures proper alignment */
            border: 1px solid #ccc;
            /* Subtle border */
            box-sizing: border-box;
            /* Includes padding and border in the element's total width and height */
        }

        input[type="submit"] {
            background-color: #669BBC;
            color: white;
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #A8DADC;
        }

        form {
            max-width: 500px;
            margin: auto;
            padding: 40px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
    }
}

@media (max-width: 467px) {
    .allrepair .repair {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .allrepair .repair img {
        width: 300px;
        height: auto;
        margin-bottom: 40px;
    }

    .allrepair .repair form {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .repair-head {
        font-size: 35px;
    }
}

/* ############### diy guide page ############### */

.main-guides {

    .guide-heading {
        text-align: center;
        margin-bottom: 40px;
        font-size: 40px;
    }

    .categories {
        margin-bottom: 60px;

        h2 {
            text-align: center;
            margin-bottom: 30px;
            font-size: 30px;
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
                margin: 10px;
                background-color: #eb623d;
                padding: 8px;
                color: white;
                border-radius: 10px;
            }
        }
    }

    .guide-list {
        .common-devices {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .device-img {
                width: 200px;
                height: auto;
            }

            .guide {
                a {
                    text-decoration: none;
                }

                .guide-info {
                    padding: 20px;

                    h2 {
                        color: rgb(79, 179, 207);
                    }

                    p {
                        color: rgb(57, 57, 57);
                    }
                }
            }
        }
    }

}

@media (max-width: 467px) {

    .main-guides .categories ul a {
        margin: 5px;
        padding: 5px;
    }

    .main-guides .categories h2 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 25px;
    }

    .main-guides .guide-heading {
        text-align: center;
        margin-bottom: 40px;
        font-size: 30px;
    }

    .main-guides .guide-list .common-devices {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-guides .guide-list .common-devices .guide .guide-info {
        padding: 10px;
    }

    .guide {
        margin-bottom: 30px;
    }

}















/* ############### contact page ############### */
.all-contacts {
    margin-bottom: 80px;

    .allcontact-heading {
        text-align: center;
        margin-bottom: 70px;
        font-size: 40px;
    }

    .contacts {
        .main-form {
            padding: 10px;
        }

        img {
            width: 500px;
            height: auto;
        }

        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            /* Full width */
            padding: 8px;
            /* Padding for better text visibility */
            margin: 10px 0;
            /* Margin for spacing between inputs */
            display: inline-block;
            /* Ensures proper alignment */
            border: 1px solid #ccc;
            /* Subtle border */
            box-sizing: border-box;
            /* Includes padding and border in the element's total width and height */
        }

        input[type="submit"] {
            background-color: #669BBC;
            color: white;
            padding: 14px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #A8DADC;
        }

        form {
            max-width: 500px;
            margin: auto;
            padding: 40px;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }
    }
}


@media(max-width: 467px) {
    .all-contacts .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .all-contacts .contacts img {
        width: 300px;
        height: auto;
        margin-bottom: 40px;
    }

    .all-contacts .contacts form {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .allcontact-heading {
        font-size: 35px;
    }
}